.InfoContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.HeaderInfo {
    width: 100%;
    margin-bottom: 35px;
}

.ToolbarBlock {
    width: 6%;
}

.MiddleBlocks {
    display: flex;
    flex-wrap: wrap;
    width: 65%;
}

.FiveDaysForeCast {
    width: 20%;
}

.LocationPhotoContainer {
    width: 100%;
    background-color: #DEAB4D;
    border-radius: 20px;
    padding: 25px;
    margin-bottom: 25px;
}

.HourForeCast {
    width: 100%;
    margin-bottom: 25px;
}

@media screen and (max-width: 800px) {
    .HeaderInfo {
        width: 45%;
    }
    .ToolbarBlock {
        width: 10%;
    }
    .WeatherIconContainer {
        margin-bottom: 15px;
    }
    .MiddleBlocks {
        width: 100%;
        flex-wrap: wrap-reverse!important;
    }
    .FiveDaysForeCast {
        width: 100%;
    }
}

.WeatherIconContainer {
    max-width: 280px;
    max-height: 200px;
    margin: 0 10px 0 auto;
}

.VectorIcon {
    width: 18px;
    margin-right: 8px;
}

.Name,
.Symbol,
.Weather,
.Temp,
.CurrentDate {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    letter-spacing: 0;
    text-align: left;
    color: #ffffff;
}

.Name {
    font-size: 24px;
    line-height: 29px;
}

.Symbol {
    font-size: 40px;
}

.Weather {
    font-size: 48px;
    line-height: 58px;
    margin: 25px 0 0;
}

.Temp {
    font-size: 64px;
    line-height: 77px;
    margin: 0;
}

.CurrentDate {
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    margin: 0;
}

.WeatherIcon {
    width: 100%;
    height: auto;
    display: block;
}

.PhotosBlock {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 15px;
}

.Heart {
    width: 25px;
    margin-right: 10px;
}

.Title {
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0;
    text-align: left;
    color: #ffffff;
}


